<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{.Title}}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" href="/assets/favicon.ico" />

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <style type="text/css">
        .logo {
            margin: 20px 0 35px 0;
            text-align: center;
        }

        .key {
            font-size: 10.2px;
        }

        .value {
            font-size: 14.4px;
            font-weight: bold;
        }

        ul.list-unstyled li {
            margin-bottom: 15px;
            text-align: center;
        }

        ul.list-unstyled li:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

{{ $addednodes := .AddedNodeInfo }}

<header class="navbar navbar-default">
    <div class="container-fluid">
        {{if .Network.Warnings}}
        <div class="col-lg-12">
            <div class="alert alert-warning">{{.Network.Warnings}}</div>
        </div>
        {{end}}

        <div class="col-lg-12">
            <div class="col-lg-3">
                <ul class="list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">{{.Network.Subversion}}</div>
                        <div class="key">USER AGENT</div>
                    </li>
                    <li>
                        <div class="value">{{.Network.ProtocolVersion}}</div>
                        <div class="key">PROTOCOL VERSION</div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">{{.Network.Version}}</div>
                        <div class="key">VERSION</div>
                    </li>
                    <li>
                        <div class="value">{{.Network.Services}}</div>
                        <div class="key">SERVICES</div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">{{.Network.Connections}}</div>
                        <div class="key">CONNECTIONS</div>
                    </li>
                    <li>
                        <div class="value">--</div>
                        <div class="key">--</div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">--</div>
                        <div class="key">--</div>
                    </li>
                    <li>
                        <div class="value">--</div>
                        <div class="key">--</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">Peers</div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Addr</th>
                            <th>Services</th>
                            <th>BytesSent</th>
                            <th>BytesRecv</th>
                            <th>ConnTime</th>
                            <th>TimeOffset</th>
                            <th>PingTime</th>
                            <th>Subver</th>
                            <th>SynchedBlocks</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $key, $value := .Peers }}
                        <tr>
                            <td>
                                <div>{{ $value.Addr }}</div>
                                <div>{{ $value.Humanize.Hostname }}</div>

                                {{ range $k, $v := $addednodes }}
                                    {{if eq $v.AddedNode $value.Addr }}
                                        <div><span class="label label-primary">manual</span></div>
                                    {{ end }}
                                {{ end }}
                            </td>
                            <td>{{ $value.Services }}</td>
                            <td>{{ $value.Humanize.BytesSent }}</td>
                            <td>{{ $value.Humanize.BytesRecv }}</td>
                            <td>{{ $value.Humanize.ConnTime }}</td>
                            <td>{{ $value.TimeOffset }}</td>
                            <td>{{ $value.PingTime }}</td>
                            <td>{{ $value.Subver }}</td>
                            <td>{{ $value.SynchedBlocks }}</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">Mempool Info</div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li>
                            <div class="value">{{.Mempool.Size}}</div>
                            <div class="key">SIZE</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.Humanize.Bytes}}</div>
                            <div class="key">TOTAL TX</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.Humanize.Usage}}</div>
                            <div class="key">TOTAL MEMORY USAGE</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.Humanize.MaxMempool}}</div>
                            <div class="key">MAXIMUM MEMORY USAGE</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.MempoolMinFee}}</div>
                            <div class="key">MINIMUM FEE</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Banned</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Until</th>
                            <th>Created</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $key, $value := .Banned }}
                            <tr>
                                <td>
                                    <div>{{ $value.Address }}</div>
                                    <div>{{ $value.Humanized.Address}}</div>
                                </td>
                                <td>
                                    <time title="{{ $value.BannedUntil }}">{{ $value.Humanized.BannedUntil }}</time>
                                </td>
                                <td>
                                    <time title="{{ $value.BanCreated }}">{{ $value.Humanized.BanCreated }}</time>
                                </td>
                                <td>{{ $value.BanReason }}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">(Manually) Added Nodes</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Node</th>
                            <th>Connected</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $key, $value := .AddedNodeInfo }}
                        <tr>
                            <td>
                                <div>{{ $value.AddedNode }}</div>
                                <div>{{ $value.Humanized.AddedNode}}</div>
                            </td>
                            <td>{{ $value.Connected }}</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
</footer>

</body>
</html>

<!--

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Addr</th>
                <th>Services</th>
                <th>RelayTxes</th>
                <th>LastSend</th>
                <th>LastRecv</th>
                <th>BytesSent</th>
                <th>BytesRecv</th>
                <th>ConnTime</th>
                <th>TimeOffset</th>
                <th>PingTime</th>
                <th>MinPing</th>
                <th>Version</th>
                <th>Subver</th>
                <th>Inbout</th>
                <th>AddNode</th>
                <th>StartHeight</th>
                <th>BanScore</th>
                <th>SynchedHeaders</th>
                <th>SynchedBlocks</th>
                <th>Whitelisted</th>
                <th>BytesReceived</th>
                <th>BytesSend</th>
            </tr>
        </thead>
        <tbody>
            {{ range $key, $value := .Peers }}
                <tr>
                    <td>{{ $value.Addr }}</td>
                    <td>{{ $value.Services }}</td>
                    <td>{{ $value.RelayTxes }}</td>
                    <td>{{ $value.LastSend }}</td>
                    <td>{{ $value.LastRecv }}</td>
                    <td>{{ $value.BytesSent }}</td>
                    <td>{{ $value.BytesRecv }}</td>
                    <td>{{ $value.ConnTime }}</td>
                    <td>{{ $value.TimeOffset }}</td>
                    <td>{{ $value.PingTime }}</td>
                    <td>{{ $value.MinPing }}</td>
                    <td>{{ $value.Version }}</td>
                    <td>{{ $value.Subver }}</td>
                    <td>{{ $value.Inbout }}</td>
                    <td>{{ $value.AddNode }}</td>
                    <td>{{ $value.StartHeight }}</td>
                    <td>{{ $value.BanScore }}</td>
                    <td>{{ $value.SynchedHeaders }}</td>
                    <td>{{ $value.SynchedBlocks }}</td>
                    <td>{{ $value.Whitelisted }}</td>
                    <td>{{ $value.BytesReceived }}</td>
                    <td>{{ $value.BytesSend }}</td>
                </tr>
            {{ end }}
        </tbody>
    </table>

-->
