<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{.Title}}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" href="/assets/favicon.ico" />

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <style type="text/css">
        .logo {
            margin: 20px 0 35px 0;
            text-align: center;
        }

        .key {
            font-size: 10.2px;
        }

        .value {
            font-size: 14.4px;
            font-weight: bold;
        }

        ul.list-localhost.list-unstyled li {
            margin-bottom: 15px;
            text-align: center;
        }

        ul.list-localhost.list-unstyled li:last-child {
            margin-bottom: 0;
        }
    </style>
</head>
<body>

{{ $addednodes := .AddedNodeInfo }}

<header class="navbar navbar-default">
    <div class="container-fluid">
        {{if .Network.Warnings}}
        <div class="col-lg-12">
            <div class="alert alert-warning">{{.Network.Warnings}}</div>
        </div>
        {{end}}

        <div class="col-lg-2">
            <div style="text-align: center;margin-top: 44px;">
                <img src="/assets/images/bitcoin.svg" />
            </div>
        </div>

        <div class="col-lg-10">
            <div class="col-lg-3">
                <ul class="list-localhost list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">{{.Network.Subversion}}</div>
                        <div class="key">USER AGENT</div>
                    </li>
                    <li>
                        <div class="value">{{.Network.ProtocolVersion}}</div>
                        <div class="key">PROTOCOL VERSION</div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <ul class="list-localhost list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">{{.Network.Version}}</div>
                        <div class="key">VERSION</div>
                    </li>
                    <li>
                        <div class="value">{{ .Network.Services | serviceflagjoin }}</div>
                        <div class="key">SERVICES</div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul class="list-localhost list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">{{.Network.Connections}}</div>
                        <div class="key">CONNECTIONS</div>
                    </li>
                    <li>
                        <div class="value">{{.NetTotals.TimeMillis.Time | time }}</div>
                        <div class="key">CURRENT TIME</div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="list-localhost list-unstyled" style="padding: 20px 0;">
                    <li>
                        <div class="value">
                            <abbr title="{{ .NetTotals.TotalBytesRecv }} bytes">{{.NetTotals.TotalBytesRecv | bytes }}</abbr>
                        </div>
                        <div class="key">DATA RECEIVED</div>
                    </li>
                    <li>
                        <div class="value">
                            <abbr title="{{ .NetTotals.TotalBytesSent }} bytes">{{.NetTotals.TotalBytesSent | bytes }}</abbr>
                        </div>
                        <div class="key">DATA SENT</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<main class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">Peers</div>
                <div class="panel-body">

                    <table class="table table-striped" style="table-layout: fixed;">
                        <thead>
                        <tr>
                            <th style="width: 30%">Client</th>
                            <th style="text-align: center;">Services</th>
                            <th style="text-align: center;">Data Sent</th>
                            <th style="text-align: center;">Data Received</th>
                            <th style="text-align: center;">Connection Time</th>
                            <th style="text-align: center;">Ping</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $key, $value := .Peers }}
                        <tr>
                            <td>
                                <div>{{ $value.Addr }}</div>
                                <div>{{ $value.Subver }}</div>

                                {{if $value.AddNode }}
                                    <div><span class="label label-default">MANUAL</span></div>
                                {{ end }}
                            </td>
                            <td style="text-align: center;">
                                <ul class="list-unstyled">
                                    {{ range $v := ($value.Services | serviceflag) }}
                                        <li style="margin-bottom: 4px;"><span style="display: block;" class="label label-default">{{ $v }}</span></li>
                                    {{ end }}
                                </ul>
                            </td>
                            <td style="text-align: center;">
                                <abbr title="{{ $value.BytesSent }} bytes">{{ $value.BytesSent | bytes }}</abbr>
                            </td>
                            <td style="text-align: center;">
                                <abbr title="{{ $value.BytesRecv }} bytes">{{ $value.BytesRecv | bytes }}</abbr>
                            </td>
                            <td style="text-align: center;">
                                <time title="{{ $value.ConnTime }}">{{ $value.ConnTime.Time | time }}</time>
                            </td>
                            <td style="text-align: center;">{{ $value.PingTime | ping }}ms</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Mempool Info</div>
                <div class="panel-body">
                    <ul class="list-localhost list-unstyled">
                        <li>
                            <div class="value">{{.Mempool.Size}}</div>
                            <div class="key">SIZE</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.Bytes | bytes}}</div>
                            <div class="key">TOTAL TX</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.Usage | bytes}}</div>
                            <div class="key">TOTAL MEMORY USAGE</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.MaxMempool | bytes}}</div>
                            <div class="key">MAXIMUM MEMORY USAGE</div>
                        </li>
                        <li>
                            <div class="value">{{.Mempool.MempoolMinFee}}</div>
                            <div class="key">MINIMUM FEE</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">Banned</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>Until</th>
                            <th>Created</th>
                            <th>Reason</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $key, $value := .Banned }}
                            <tr>
                                <td>{{ $value.Address }}</td>
                                <td>
                                    <time title="{{ $value.BannedUntil }}">{{ $value.BannedUntil.Time | time }}</time>
                                </td>
                                <td>
                                    <time title="{{ $value.BanCreated }}">{{ $value.BanCreated.Time | time }}</time>
                                </td>
                                <td>{{ $value.BanReason }}</td>
                            </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">(Manually) Added Nodes</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Node</th>
                            <th>Connected</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{ range $key, $value := .AddedNodeInfo }}
                        <tr>
                            <td>
                                <div>{{ $value.AddedNode }}</div>
                            </td>
                            <td>{{ $value.Connected }}</td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
</footer>

</body>
</html>
